Source: gimp-mayaiff
Priority: optional
Section: graphics
maintainer: Shuji Narazaki <narazaki@cs.cis.nagasaki-u.ac.jp>
Standards-Version: 1.0

Package: gimp-mayaiff
Architecture: i386 amd64
Priority: optional
Depends: libgimp2.0(>=2.6), gimp(>=2.6)
Description: a gimp 2.4 plugin for reading/writing Alias|Wavefront Maya's IFF
 This plugin was written by Mike Taylor (mtaylor@aw.sgi.com). I modified to
 adapt to gimp-1.2, then to gimp-1.3, gimp-2.0 (now compiled for gimp2.6).
